In [3]:
import pandas as pd
import numpy as np

outlook = 'overcast,overcast,overcast,overcast,rainy,rainy,rainy,rainy,rainy,sunny,sunny,sunny,sunny,sunny'.split(
        ',')
temp = 'hot,cool,mild,hot,mild,cool,cool,mild,mild,hot,hot,mild,cool,mild'.split(
        ',')
humidity = 'high,normal,high,normal,high,normal,normal,normal,high,high,high,high,normal,normal'.split(
        ',')
windy = 'FALSE,TRUE,TRUE,FALSE,FALSE,FALSE,TRUE,FALSE,TRUE,FALSE,TRUE,FALSE,FALSE,TRUE'.split(
        ',')
play = 'yes,yes,yes,yes,yes,yes,no,yes,no,no,no,no,yes,yes'.split(',')
dataset = {'outlook': outlook, 'temp': temp,
               'humidity': humidity, 'windy': windy, 'play': play}
df = pd.DataFrame(dataset, columns=[
                      'outlook', 'temp', 'humidity', 'windy', 'play'])

In [4]:
df

     outlook  temp humidity  windy play
0   overcast   hot     high  FALSE  yes
1   overcast  cool   normal   TRUE  yes
2   overcast  mild     high   TRUE  yes
3   overcast   hot   normal  FALSE  yes
4      rainy  mild     high  FALSE  yes
5      rainy  cool   normal  FALSE  yes
6      rainy  cool   normal   TRUE   no
7      rainy  mild   normal  FALSE  yes
8      rainy  mild     high   TRUE   no
9      sunny   hot     high  FALSE   no
10     sunny   hot     high   TRUE   no
11     sunny  mild     high  FALSE   no
12     sunny  cool   normal  FALSE  yes
13     sunny  mild   normal   TRUE  yes

In [7]:
entropy = 0
if df.empty:
    print(entropy)
lastcolname = df.columns[-1]
targetval = df[lastcolname].unique()
for i in targetval:
    p = df[lastcolname].value_counts()[i] / len(df[lastcolname])
    if p==0:
        continue
    else:
        entropy += -(p*np.log2(p))
print(entropy)

0.9402859586706309

In [11]:
df["lol"] = np.ones([14])
#df.drop(["lol"], inplace = True)

In [12]:
df

     outlook  temp humidity  windy play  lol
0   overcast   hot     high  FALSE  yes  1.0
1   overcast  cool   normal   TRUE  yes  1.0
2   overcast  mild     high   TRUE  yes  1.0
3   overcast   hot   normal  FALSE  yes  1.0
4      rainy  mild     high  FALSE  yes  1.0
5      rainy  cool   normal  FALSE  yes  1.0
6      rainy  cool   normal   TRUE   no  1.0
7      rainy  mild   normal  FALSE  yes  1.0
8      rainy  mild     high   TRUE   no  1.0
9      sunny   hot     high  FALSE   no  1.0
10     sunny   hot     high   TRUE   no  1.0
11     sunny  mild     high  FALSE   no  1.0
12     sunny  cool   normal  FALSE  yes  1.0
13     sunny  mild   normal   TRUE  yes  1.0

In [15]:
df.drop(["lol"], axis = 1,inplace = True)

In [16]:
df

     outlook  temp humidity  windy play
0   overcast   hot     high  FALSE  yes
1   overcast  cool   normal   TRUE  yes
2   overcast  mild     high   TRUE  yes
3   overcast   hot   normal  FALSE  yes
4      rainy  mild     high  FALSE  yes
5      rainy  cool   normal  FALSE  yes
6      rainy  cool   normal   TRUE   no
7      rainy  mild   normal  FALSE  yes
8      rainy  mild     high   TRUE   no
9      sunny   hot     high  FALSE   no
10     sunny   hot     high   TRUE   no
11     sunny  mild     high  FALSE   no
12     sunny  cool   normal  FALSE  yes
13     sunny  mild   normal   TRUE  yes